
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# VSCode
.vscode/

# Time Storare
*.code-workspace
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.sw?

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db